#container{
    position: relative;
}
.cardDog{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    
}


